# --------------------------
# Core
# --------------------------
DEBUG=True
DJANGO_SECRET_KEY=CHANGE_ME_IN_PRODUCTION
ALLOWED_HOSTS=127.0.0.1,localhost
LANGUAGE_CODE=en-us
TIME_ZONE=Asia/Tehran

# --------------------------
# Database
# --------------------------
POSTGRES_DB=your_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# --------------------------
# JWT
# --------------------------
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=5
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
JWT_ROTATE_REFRESH_TOKENS=True
JWT_BLACKLIST_AFTER_ROTATION=True
JWT_ALGORITHM=HS256

# --------------------------
# Redis / Celery
# --------------------------
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# --------------------------
# CORS
# --------------------------
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# --------------------------
# API Docs
# --------------------------
API_TITLE=Clinic Reservation API
API_DESCRIPTION=Public API for Clinic App
API_VERSION=1.0.0
