Django>=5.1,<5.3
djangorestframework==3.16.1
django-filter==25.1
django-cors-headers==4.9.0
psycopg2-binary>=2.9.11
djangorestframework_simplejwt==5.4.0
PyJWT==2.7.0
python-jose==3.5.0
djoser==2.3.1
cryptography>=46.0.3
django-import-export==4.4.0
openpyxl==3.1.5
pandas>=2.2.0
django-simple-history==3.7.0
django-auditlog==3.4.1
python-json-logger==3.3.0
django-redis==5.4.0
celery==5.4.0
redis==7.1.0
django-celery-beat==2.8.0
flower==2.0.1
kombu==5.5.4
django-storages==1.14.6
boto3==1.42.34
django-debug-toolbar==6.1.0
django-extensions==3.2.3
Werkzeug>=3.0.0,<4
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.9.1
persiantools==5.4.0
jdatetime==5.2.0
user-agents==2.2.0
geoip2==5.2.0
python-dotenv==1.0.1
django-location-field==2.7.3
Pillow==12.1.0
drf-standardized-errors==0.15.0
channels-redis>=4.2.0
channels>=4.1.0
django-currentuser==0.8.0
